# Maximiliano Villegas Garcia A01635825

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.


2. How many observations (rows) are in total?


3. How many variables (columns) are in total? What do they represent?


4. How many observations are for each type of flower? 


5. What is the type of data for each variable?


6. What are the units of each variable?

# Iris data set

1. An iris

![irisparts.png](datasets/iris/irisparts.png)

2. The dataset description
    - Total numer of observations: 150
    - Variables: SepalLength, SepalWidth, PetalLength, Petal Width, Class
    
![irisclasses.png](datasets/iris/irisclasses.png)

In [10]:
# Import the packages that we will be using
import matplotlib.pyplot as plt
import pandas as pd                 # For data handling

# Dataset url
url = "datasets/iris/iris.csv"

# Load the dataset
ds = pd.read_csv(url )

In [11]:
ds

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

Pregunta 2:
Tenemos 150 filas

Pregunta 3: Tenemos 5 columnas

Pregunta 4:

In [12]:
ds.groupby(['Class']).size()

Class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

Pregunta 5:


Tipo de dato SepalLength = cuantitativo


Tipo de dato SepalWidth = cuantitativo


Tipo de dato PetalLength = cuantitativo


Tipo de dato PetalWidth = cuantitativo


Tipo de dato Class = categorico

Pregunta 6:

Unidades de dato SepalLength = cm


Unidades de dato SepalWidth = cm


Unidades de dato PetalLength = cm


Unidades de dato PetalWidth = cm


Unidades de dato Class = string