#Valeria Cortez Carreón A00571474
#A1_DatasetIris
#Last updated: 14/09/2021

# Understanding the Iris data set

The notebook aims to understand the content of the Iris data set.


## References

- Iris Dataset Descrpition: https://www.kaggle.com/arshid/iris-flower-dataset

# Iris data set

1. Iris Classes

![irisclasses.png](datasets/iris/irisclasses.png)

2. The dataset description
    - Total numer of observations: 150
    - Many measurements/recordings of the attributes of Iris (a kind of flower)
    - Variables: Sepal Length, Sepal Width, Petal Length, Petal Width and Species

# Importing and inspecting the data

In [6]:
# Import the packages that we will be using
import matplotlib.pyplot as plt
import pandas as pd                 # For data handling

# Dataset url
url = "datasets/iris/iris.csv"

# Load the dataset
dataset = pd.read_csv(url, names=['Sepal_length', 'Sepal_width', 'Petal_length', 'Petal_width', 'Species'])

In [7]:
dataset

     Sepal_length  Sepal_width  Petal_length  Petal_width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
dataset.dtypes

Sepal_length    float64
Sepal_width     float64
Petal_length    float64
Petal_width     float64
Species          object
dtype: object

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.

Done (:

2. How many observations (rows) are in total?

150 observations (determined by the number of rows, noncounting the column headers)

3. How many variables (columns) are in total? What do they represent?

There are 5 variables describing (in this order) one flower (each observation); the sepal (length and width), the petal (length and width) and the species. They represent the physical description of the size measured by cm of the Iris plant

4. How many observations are for each type of flower? 

50 observations per Species: 50 per Iris-setosa, 50 per Iris-versicolor and 50 per Iris-Virginica. Got to this conclusion and counted with the other 2 activities for this data set (A2 and A3)

5. What is the type of data for each variable?

Sepal_length: float64, Sepal_width: float_64, Petal_length: float64, Petal_width: float64, Species: object

6. What are the units of each variable?

The petal´s and sepal´s measurements are numeric measured by centimeters and the Species is a qualitative variable.