# Activity: work with the iris dataset
Repeat this tutorial with the iris data set and respond to the following inquiries

Calculate the statistical summary for each quantitative variables. Explain the results
Identify the name of each column
Identify the type of each column
Minimum, maximum, mean, average, median, standar deviation
Are there missing data? If so, create a new dataset containing only the rows with the non-missing data
Create a new dataset containing only the petal width and length and the type of Flower
Create a new dataset containing only the setal width and length and the type of Flower
Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [1]:
# Import the packages that we will be using
import pandas as pd                 # For data handling

# url string that hosts our .csv file
url = "datasets/iris/iris.csv"

# Read the .csv file and store it as a pandas Data Frame
df = pd.read_csv(url)

In [2]:
df.shape

(150, 5)

In [3]:
df

     sepallength  sepalwidth  petallength  petalwidth          nombre
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
# Calculate the statistical summary for each quantitative variables. Explain the results
    # Identify the name of each column
df.columns
# - Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'nombre'], dtype='object')

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'nombre'], dtype='object')

In [5]:
    # Identify the type of each column
df.dtypes
# - sepallength    float64
# - sepalwidth     float64
# - petallength    float64
# - petalwidth     float64
# - nombre          object
# - dtype: object

sepallength    float64
sepalwidth     float64
petallength    float64
petalwidth     float64
nombre          object
dtype: object

In [6]:
     # Minimum, maximum, mean, average, median, standar deviation
    

minimum_df = df["sepallength"].min()
max_df = df["sepallength"].max()
mean_df = df["sepallength"].mean()
median_df = df["sepallength"].median()
std_df = df["sepallength"].std()
 
print("Min:",minimum_df, "\nMax:", max_df, "\nMean:",mean_df, "\nMedian:",median_df, "\nstd:",std_df)
df.sepallength.dropna().describe()

Min: 4.3
Max: 7.9
Mean: 5.843333333333335
Median: 5.8
std: 0.8280661279778629

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepallength, dtype: float64

In [7]:
     # Minimum, maximum, mean, average, median, standar deviation
    
minimum_df = df["sepalwidth"].min()
max_df = df["sepalwidth"].max()
mean_df = df["sepalwidth"].mean()
median_df = df["sepalwidth"].median()
std_df = df["sepalwidth"].std()
 
print("Min:",minimum_df, "\nMax:", max_df, "\nMean:",mean_df, "\nMedian:",median_df, "\nstd:",std_df)
df.sepalwidth.dropna().describe()

Min: 2.0
Max: 4.4
Mean: 3.057333333333334
Median: 3.0
std: 0.435866284936698

count    150.000000
mean       3.057333
std        0.435866
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: sepalwidth, dtype: float64

In [8]:
     # Minimum, maximum, mean, average, median, standar deviation
minimum_df = df["petallength"].min()
max_df = df["petallength"].max()
mean_df = df["petallength"].mean()
median_df = df["petallength"].median()
std_df = df["petallength"].std()
 
print("Min:",minimum_df, "\nMax:", max_df, "\nMean:",mean_df, "\nMedian:",median_df, "\nstd:",std_df)
df.petallength.dropna().describe()

Min: 1.0
Max: 6.9
Mean: 3.7580000000000027
Median: 4.35
std: 1.7652982332594667

count    150.000000
mean       3.758000
std        1.765298
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petallength, dtype: float64

In [9]:
     # Minimum, maximum, mean, average, median, standar deviation
minimum_df = df["petalwidth"].min()
max_df = df["petalwidth"].max()
mean_df = df["petalwidth"].mean()
median_df = df["petalwidth"].median()
std_df = df["petalwidth"].std()
 
print("Min:",minimum_df, "\nMax:", max_df, "\nMean:",mean_df, "\nMedian:",median_df, "\nstd:",std_df)
df.petalwidth.dropna().describe()

Min: 0.1
Max: 2.5
Mean: 1.199333333333334
Median: 1.3
std: 0.7622376689603465

count    150.000000
mean       1.199333
std        0.762238
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petalwidth, dtype: float64

In [10]:
#Are there missing data? If so, create a new dataset containing only the rows 
#with the non-missing data
df.isnull().sum()
#df.notnull().sum()

#No hay miussing data en la dataset.

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
nombre         0
dtype: int64

In [11]:
#Create a new dataset containing only the petal width and length and the type 
#of Flower

dataset2 = df.loc[:,["petallength","petalwidth", "nombre"]]
dataset2

     petallength  petalwidth          nombre
0            1.4         0.2     Iris-setosa
1            1.4         0.2     Iris-setosa
2            1.3         0.2     Iris-setosa
3            1.5         0.2     Iris-setosa
4            1.4         0.2     Iris-setosa
..           ...         ...             ...
145          5.2         2.3  Iris-virginica
146          5.0         1.9  Iris-virginica
147          5.2         2.0  Iris-virginica
148          5.4         2.3  Iris-virginica
149          5.1         1.8  Iris-virginica

[150 rows x 3 columns]

In [12]:
# Create a new dataset containing only the setal width and length and the type 
#of Flower

dataset3 = df.loc[:,["sepallength","sepalwidth", "nombre"]]
dataset3

     sepallength  sepalwidth          nombre
0            5.1         3.5     Iris-setosa
1            4.9         3.0     Iris-setosa
2            4.7         3.2     Iris-setosa
3            4.6         3.1     Iris-setosa
4            5.0         3.6     Iris-setosa
..           ...         ...             ...
145          6.7         3.0  Iris-virginica
146          6.3         2.5  Iris-virginica
147          6.5         3.0  Iris-virginica
148          6.2         3.4  Iris-virginica
149          5.9         3.0  Iris-virginica

[150 rows x 3 columns]

In [13]:
#Create a new dataset containing the setal width and length and the type of 
#Flower encoded as a categorical numerical column
dataset = df.replace({"nombre": {"Iris-setosa":0, "Iris-versicolor":1, "Iris-virginica":2}})
dataset.loc[:,["sepallength","sepalwidth", "nombre"]]

     sepallength  sepalwidth  nombre
0            5.1         3.5       0
1            4.9         3.0       0
2            4.7         3.2       0
3            4.6         3.1       0
4            5.0         3.6       0
..           ...         ...     ...
145          6.7         3.0       2
146          6.3         2.5       2
147          6.5         3.0       2
148          6.2         3.4       2
149          5.9         3.0       2

[150 rows x 3 columns]