Paola Elizabeth Gómez Martínez A01633772


# Undertanding the cartwheel data set

The notebook aims to undertand the content of the cartwheel data set.


## Acknowledgments

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

edito

# Importing and inspecting the data

# Iris data set

1. An iris

![irisparts.png](datasets/iris/irisparts.png)

2. The dataset description
    - The dataset used here is an extension from the original iris dataset from cursera
    - Total numer of observations: 150
    - Many observations/measurements/recordings of the characteristics/attributes/variables of iris flowers
    
     ![irisclasses.png](datasets/iris/irisclasses.png)
    
    - Variables: Sepal length, sepal width, petal length, petal width, class (X variables)
    
    ![irismeasurements1.png](datasets/iris/irismeasurements1.png)
    ![irismeasurements2.png](datasets/iris/irismeasurements2.png)

In [38]:
# Import the packages that we will be using
import matplotlib.pyplot as plt
import pandas as pd                 # For data handling

# Dataset url
url = "datasets/iris/iris.csv"

# Load the dataset
dataset = pd.read_csv(url )

In [39]:
dataset

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [40]:
type(dataset)

pandas.core.frame.DataFrame



# Final remarks


- The **Pandas** library provides fancy, high-performance, easy-to-use data structures and data analysis tools

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.


2. How many observations (rows) are in total?


3. How many variables (columns) are in total? What do they represent?


4. How many observatons are for each type of flower? 


5. What is the type of data for each variable?


6. What are the units of each variable?

In [41]:
# Pregunta 2
dataset.shape
# Hay 150 filas y 5 columnas

(150, 5)

In [42]:
# Pregunta 3
dataset.columns
# Las 5 columnas representan la longitud del sepal, el ancho del sepal,
# el largo del pétalo, el ancho del pétalo y la clase

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class'], dtype='object')

In [43]:
# Pregunta 4
len(dataset)
# Son 150 observaciones

150

In [44]:
# Número de observaciones por tipo de flor
dataset.groupby(['Class']).size()

Class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [45]:
# Pregunta 5
dataset.dtypes

SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Class           object
dtype: object

In [46]:
# Pregunta 6
dataset.head()
# Las primeras 4 columnas se miden en cm y la quinta columna es una variable categórica

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa