# Undertanding the Iris data set

The notebook aims to undertand the content of the Iris data set.

A01639224 | Fausto Alejandro Palma Cervantes

## Acknowledgments

- Data from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Iris data set

1. Iris diagram

![irisparts.png](datasets/iris/irisparts.png)

2. The dataset description
    - The dataset used here is an extension from the original Iris dataset from Coursera
    - Total numer of observations: 150
    - Measurements/observations of the attributes/variables of Iris plants
    - Variables: Sepal Length, Sepal Width, Petal Length, Petal Width, Class (X variables)

3. Iris classes

![irisclasses.png](datasets/iris/irisclasses.png)

# Importing and inspecting the data

In [140]:
# Import the packages that we will be using
import matplotlib.pyplot as plt
import pandas as pd                 # For data handling

# Dataset url
url = "datasets/iris/iris.csv"

# Load the dataset (with column names)
dataset = pd.read_csv(url, names=['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class'])

In [141]:
dataset

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [142]:
# Find dataset type
type(dataset)

pandas.core.frame.DataFrame

# Final remarks

- The **Pandas** library provides fancy, high-performance, easy-to-use data structures and data analysis tools

# Activity: work with the Iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.
    
    Both iris.csv file and the data printed above have 150 rows of text. When importing the Iris dataset into the Jupyter Notebook you have the option to add column names for the dataset. When displaying the dataset you can see the data displayed the same way as in the .csv file and you can also see the number of rows and columns at the bottom.

2. How many observations (rows) are in total?

    There are 150 observations in total.

3. How many variables (columns) are in total? What do they represent?

    There are 5 variables in total. They represent Sepal Length, Sepal Width, Petal Length, Petal Width and Class.

4. How many observations are there for each type of flower?

    Out of the 150 observations 50 are for Iris-setosa plants, another 50 are for Iris-versicolor plants, and the last 50 are for Iris-virginica plants.

In [143]:
# QUESTION 4 - Group dataset by class
dataset.groupby(['Class']).size()

Class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

5. What is the type of data for each variable?

    Out of the five variables:
        - Sepal Length is a quantitative variable and a float data type
        - Sepal Width is a quantitative variable and a float data type
        - Petal Length is a quantitative variable and a float data type
        - Petal Width is a quantitative variable and a float data type
        - Class is a categorical variable and an object (string) data type

In [144]:
# QUESTION 5 - Find variable data type
dataset.dtypes

SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Class           object
dtype: object

6. What are the units of each variable?

    The variables in the .csv file were written without any units, but based on prior knowledge I would assume Sepal Length, Sepal Width, Petal Length and Petal Width were all measured in centimeters, whereas the Class variable doesn't need a unit of measurement since it isn't quantitative data.